@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================================================================================= */
/* ESTILIZAÇÃO DO CORPO DA NOSSA PÁGINA */
body{
    height: 100vh;
    background-image: url(imgs/fundo-madeira.jpg);
    background-repeat: no-repeat;;
    background-size: cover;
    background-attachment: fixed;
}

/* ============================================================================================= */
/* ESTILIZAÇÃO DO MENU DE OPÇÕES DO NOSSO PROJETO */
li{
    text-align: right;
}

li > a > img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

li > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.550);
    transform: translate(-3px, -3px); /* Para dar a impressão de levantamento de botão, movemos ele um pouquinho */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600); /* Para acompanhar o "levantamento" feito, a sombra irá crescer */
    transition: 0.8s, border 0.8s;
}

/* ============================================================================================= */
/* ESTILIZAÇÃO DA SECTION QUE TEM O CELULAR DE FUNDO */
section.celular{
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(imgs/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

/* ============================================================================================= */
/* ESTILIZAÇÃO DO CONTEÚDO DE IFRAME QUE VAI DENTRO DA IMAGEM DO CELULAR */
iframe#paginas{
    width: 270px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}